<div class="mb-10 w-full">
	<div
		class="image mb-10 h-[310px]">
        {{ content.field_image }}
	</div>
	<p class="mb-5 text-sm text-[#99A1AF]">
		{{ node.getCreatedTime()|format_date('olivero_medium') }}
	</p>
	<h3 class="text-2xl">{{  short_label }}</h3>
</div>

<a href="{{ url }}" class="group/btn relative h-[51px] rounded-full border border-[#D4D4D8] bg-[#F9FAFB] py-3 pe-[65px] ps-7 text-[#6A7282] transition-all hover:border-orange hover:bg-[#FFF3E9] hover:text-orange">
	<span class=" ">
		{{ "Read more"|t }}
	</span>

	<span class="absolute -end-1 top-0 flex h-[50px] w-[53px] items-center justify-center rounded-full border border-[#D4D4D8] bg-white transition-all group-hover/btn:border-orange group-hover/btn:bg-orange">
		<i class="fa-regular fa-arrow-right text-xs text-[#99A1AF] group-hover/btn:text-white"></i>
	</span>
</a>
