<div class="element-item {{ project_filter }}">
<div class="teambox">
	{% if node.field_image.entity is not empty %}
		<img src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}" class="my-custom-class another-class" style="width: 380px; height: 504px; object-fit: cover;"/>
	{% endif %}
	<div class="teambox_inner">
		<div class="team_social"></div>
		<div class="teambox_intro">
			<div class="team_flex">
				<h6>
					{{ node.field_location.value }}
				</h6>
				<h5>
					<a href="{{ url }}">{{ short_label}}</a>
				</h5>
			</div>
		</div>
	</div>
</div>
</div>
