{# {% set page_types = [] %}

{% for item in node.field_page_type %}
{{ dd(item)}}
  {% set page_types = page_types|merge([{
    'id': item.target_id,
    'label': item.entity.label
  }]) %}
{% endfor %} #}

{# Now you can use it #}
{# {% for type in page_types %}
{{dd(type)}}
  {{ type.id }} - {{ type.label }}
{% endfor %} #}


{# {{ dd( node.bundle)}}
{{ dd( content.field_page_type)}} #}


<section class="md:py-20 py-12">
	<div class="container mx-auto px-4">
		<div class="grid md:grid-cols-[1fr_2fr] gap-10">
			<div>
				<h3 class="md:text-2xl text-xl   md:hidden mb-10">
					{{ label|render|striptags|trim|raw }}

				</h3>
				<div class="px-9 md:px-0">
					{{ content.field_image }}
				</div>
			</div>
			<div class="grid gap-10">
				{{ content.body }}

			</div>
		</div>
	</div>
</section>

{% if content.field_growing['#items'] %}
	<section class="md:py-16 py-8">
		<div class="container mx-auto px-4">
			<div class="md:divide-x-[1px] divide-y-[1px]  md:divide-y-0 divide-[#D4D4D8] gap-12 xl:gap-[70px] grid md:grid-cols-3">

				{{ content.field_growing }}
			</div>

		</div>
	</section>

{% endif %}


{% if content.field_tailored_to_meet_sharjah['#items'] %}

<section class="md:py-16 py-12 bg-[#F9FAFB]">
      <div class="container mx-auto px-4">

        <div class="text-center">
          <h2 class="text-3xl mb-8">
          {{ node.field_tailored_to_meet_sharjah.fieldDefinition.label ?: '' }}
          </h2>
          <div class="grid md:grid-cols-3">
              {{ content.field_tailored_to_meet_sharjah }}
            
          </div>
        </div>

      </div>
    </section>
{% endif %}



{% if drupal_view_result('services','grid')|length > 0 %}
  {{ drupal_view('services', 'grid') }}

{% endif %}


{% if drupal_view_result('service_providers','slider')|length > 0 %}
  {{ drupal_view('service_providers', 'slider') }}

{% endif %}