{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}



{% block paragraph %}
<div class="faq-item border-b border-[#D4D4D8] py-10 section-our-strategy">
    <button class="faq-btn flex w-full items-center justify-between gap-3 text-start text-xl text-[#6A7282] transition-colors focus:outline-none">
        <span class="faq-title {{ count =="1" ? 'text-orange first-tab': ''  }}">
            {{ content.field_title|render|striptags|trim|raw }}
        </span>
        <span class="faq-icon text-2xl font-light {{ count =="1" ? 'text-orange first-tab': ''}}"> {{ count =="1" ? '-': '+'}}</span>
    </button>
    <div class="faq-content mt-9 leading-7 text-[#6A7282]  {{ count =="1" ? ' first-tab': 'hidden'}}">
        {{ content.field_description|render|striptags|trim|raw }}
    </div>
</div>

{% endblock paragraph %}