{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
	{# This ensures that, if clean URLs are off, the 'q' is added first,as a hidden form element, so that it shows up first in the POST URL. #}

	{{ q }}

{% endif %}

{% set classes = [
 
 'mt-10',
  'flex',
  'items-center',
  'justify-between',
  'gap-3',
  'overflow-auto',
  'filter',
  'md:my-[56px]',
  'md:flex-wrap',
  'lg:overflow-hidden',
  'lg:flex-nowrap',
'my-8'
	] %}

<div {{attributes.addClass(classes)}} id="services">
	{{ form|without('actions','keys') }}
	{% set keys = form.keys %}
	{% set keys = keys|merge({
  '#attributes': keys['#attributes']|merge({
    'class': (keys['#attributes'].class|default([]))|merge(['h-[54px] w-full rounded-sm border border-[#D4D4D8] bg-[url(../images/Search.svg)] bg-[16px_center] bg-no-repeat py-[18px] pe-2 ps-11 text-[#101828] placeholder:text-[#101828]'])
  })
}) %}
<div class="search w-full min-w-max xl:max-w-[333px] hidden xl:block">


		{{ keys }}
	</div>
	<div class="submit-reset hidden ">
		{{ form.actions }}
	</div>


</div>
