			<div class="item2 only-footer-menu">
				<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-7 sm:gap-y-[30px] md:gap-y-[60px] ">
					{% set footer_items = simplify_menu('footer') %}
					{# Group parents into batches of 3 for each row #}
					{% for row in footer_items.menu_tree|batch(3) %}
						{# <div class="row"> #}
						{% for menu_item in row %}
							<div class="border-b-1  footer-menu sm:border-transparent  border-[#D4D4D8] {{ loop.first ? 'open' }}">
								<div class="footer_widget footer_links">
									{% if menu_item.submenu is defined and menu_item.submenu|length > 0 %}
										{# <h4 class="widget_title">
																				                            {{ menu_item.text }}
																				                        </h4> #}
										<div class="  cursor-pointer sm:cursor-auto sm:mb-9 mb-5 flex justify-between items-center">
											<h3 class="font-bold">
												{{ menu_item.text }}</h3>
											<button class="sm:hidden">
												<i class="fa-solid fa-angle-down transition-all"></i>
											</button>
										</div>

										{# <div class="footer_nav"> #}
										<ul class="sm:grid hidden pb-5 sm:pb-0 gap-3 text-[#6A7282] text-sm {{ loop.first ? 'grid' }}">
											{% for child in menu_item.submenu %}
												<li class="menu-item">
													<a href="{{ child.url }}">{{ child.text }}</a>
												</li>
											{% endfor %}
										</ul>
										{# </div> #}
									{% endif %}
								</div>
							</div>
						{% endfor %}
						{# </div> #}
					{% endfor %}
				</div>
			</div>